* {
    /*overflow: hidden;*/
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /*overflow: hidden;*/
}

button:active {
    scale: 1.1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    /*max-height: 100vh;*/
}

body {
    background: linear-gradient(#060D1B, #20274A);
    margin: 0;
    /*height: 100vh;*/
    /*width: 100vw;*/
    /*max-height: 100vh;*/
    overflow-y: scroll;
}

.neurology-1.open,
.neurology-3.open,
.neurology-4.open,
.neurology-5.open {
    background-image: url("../static/group-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*width: 100vw;*/
    /*height: 100vh;*/
    display: inline-block;
}

.neurology-6.open, .neurology-7.open {
    /*width: 100vw;*/
    /*height: 100vh;*/
    display: inline-block;
}

.neurology-2.open {
    /*background-image: url("../static/group-1.png");*/
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: inline-block;
}

.neurology-1,
.neurology-2,
.neurology-3,
.neurology-4,
.neurology-5,
.neurology-6,
.neurology-7 {
    display: none;
}

.neurology-background {
    max-width: 1300px;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

/*.background-angles-1 {*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*}*/

.neurology-background-moon {
    position: absolute;
    width: 100vw;
    height: 100vh;

    flex-shrink: 0;
    /*bottom: 0;*/
    background: #8488B1;
    mix-blend-mode: color;
    filter: blur(38.849998474121094px);
}

.neurology-background-angles {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}


.neurology-background-angles-img-1, .neurology-background-angles-img-2, .neurology-background-angles-img-3, .neurology-background-angles-img-4 {
    width: 110px;
    height: 116px;
    position: absolute;
    mix-blend-mode: exclusion;
}

.neurology-background-angles-img-1 {
    top: 4px;
    right: 4px;
}

.neurology-background-angles-img-2 {
    top: 4px;
    left: 4px;
}

.neurology-background-angles-img-3 {
    bottom: 4px;
    left: 4px;
}

.neurology-background-angles-img-4 {
    bottom: 4px;
    right: 4px;
}


/*.neurology-background-angles-img {*/
/*    position: absolute;*/
/*    max-width: 1300px;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    flex-shrink: 0;*/
/*    mix-blend-mode: exclusion;*/
/*}*/

.neurology-1-info {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.neurology-1-info-min-moons {
}

.neurology-1-title {
    color: #FFE6CD;
    font-family: 'Philosopher', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.07px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 30px;
}

.neurology-1-title-before {
    color: #FFE6CD;
    font-family: 'Philosopher', sans-serif;
    font-size: 10px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.07px;
    text-transform: uppercase;
}

.neurology-background-moon-img {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

.button-and-info {
    position: absolute;
    bottom: 20px;
    /*bottom: 78px;*/
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.neurology-1-start-button {
    width: 250px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 0;
    background: linear-gradient(143deg, #DEC3A8 14.83%, #FFEDDA 47.68%, #DEC3A8 78.55%);
    box-shadow: 0px 4px 0px 0px #AF9F8E;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.neurology-1-start-button-text {
    color: #7B6644;
    font-family: Philosopher, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
    margin-right: 50px;
}

.neurology-1-start-info {
    width: 297px;
    height: 39px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
}

.neurology-1-start-button-img {
    width: 24px;
    height: 24px;
    stroke-width: 0.533px;
    stroke: #71634C;
    margin-right: 10px;
}

/*.circle-moon {*/
/*    !*position: relative;*!*/
/*    mix-blend-mode: lighten;*/
/*    width: 100vw;*/
/*    !*height: 100vh;*!*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

.circle-moon-img {
    position: absolute;
    top: 40%;
    z-index: 1;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    mix-blend-mode: lighten;
    width: 1112.109px; /* Замените это на фактическую ширину изображения */
    /*height: 625.636px; !* Замените это на фактическую высоту изображения *!*/
    flex-shrink: 0;
}


.circle-moon-img {
    animation: circle-moon-img 20s linear infinite;
}

@keyframes circle-moon-img {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*второй экран*/

/*.neurology-2-background {*/
/*    background-image: url("../static/tuman.png");*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    width: 100vw;*/
/*    !*height: 124vh;*!*/
/*    height: 100vh;*/
/*    position: absolute;*/
/*    !*top: -98px;*!*/
/*}*/

.neurology-2-background-angles {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.neurology-2-background-angles-img {
    position: absolute;
    max-width: 1300px;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    mix-blend-mode: exclusion;
}

.neurology-2-background-moon {
    position: absolute;
    mix-blend-mode: lighten;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.neurology-2-background-moon-img {
    position: absolute;
    top: 40%;
    background: url(<path-to-image>) center/cover no-repeat;
    mix-blend-mode: lighten;
    width: 1078.22px; /* Замените это на фактическую ширину изображения */
    /* Замените это на фактическую высоту изображения */
    flex-shrink: 0;
}

.neurology-2-background-moon-img {
    animation: neurology-2-background-moon-img 20s linear infinite;
}

@keyframes neurology-2-background-moon-img {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.neurology-2-info {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.neurology-2-info-text {
    color: #FFE6CD;
    font-family: 'Philosopher', sans-serif;
    font-size: 32px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.07px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 30px;
    text-align: center;
}

.neurology-2-input-and-button {
    width: 100%;
    height: 100%;
    position: relative;
}

.neurology-2-input-and-button-container {
    position: absolute;
    width: 100%;
    bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.neurology-2-input {
    width: 212px;
    margin-bottom: 50px;
    background-color: transparent;
    border-radius: 0;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-color: #FDFDFF;
    padding: 10px;
}

.neurology-2-input::placeholder {
    color: #FDFDFF;
    font-family: Philosopher, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.44px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.neurology-2-input:focus {
    width: 212px;
    font-family: Philosopher, sans-serif;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.44px;
    font-size: 18px;
    color: #FDFDFF;
    outline: 0;
    padding: 10px 0;
    text-align: center;
}

.neurology-2-input:valid {
    width: 212px;
    font-family: Philosopher, sans-serif;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.44px;
    font-size: 18px;
    color: #FDFDFF;
    outline: 0;
    padding: 10px;
    text-align: center;
}

.neurology-2-button {
    color: #7B6644;
    font-family: Philosopher, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
    width: 200px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 0;
    background: linear-gradient(143deg, #DEC3A8 14.83%, #FFEDDA 47.68%, #DEC3A8 78.55%);
    box-shadow: 0px 4px 0px 0px #AF9F8E;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*3 экран*/

.neurology-3-background,
.neurology-2-background,
.neurology-4-background {
    background-image: url("../static/tuman.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.neurology-3-background-moon,
.neurology-4-background-moon {
    position: relative;
    mix-blend-mode: lighten;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.neurology-5-background-moon {
    mix-blend-mode: lighten;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.neurology-3-background-moon-img {
    position: absolute;
    top: 60%;
    background: url(<path-to-image>) center/cover no-repeat;
    mix-blend-mode: lighten;
    width: 1112.109px;
    flex-shrink: 0;
}

.neurology-4-background-moon-img {
    position: absolute;
    top: 41%;
    background: url(<path-to-image>) center/cover no-repeat;
    mix-blend-mode: lighten;
    width: 1317.22px;
    flex-shrink: 0;
}

.neurology-5-background-moon-img {
    position: absolute;
    top: 40%;
    background: url(<path-to-image>) center/cover no-repeat;
    mix-blend-mode: lighten;
    width: 1537.109px; /* Замените это на фактическую ширину изображения */
    /* Замените это на фактическую высоту изображения */
    flex-shrink: 0;
}

.neurology-3-background-moon-img {
    animation: neurology-3-background-moon-img 20s linear infinite;
}

.neurology-4-background-moon-img {
    animation: neurology-4-background-moon-img 20s linear infinite;
}

@keyframes neurology-3-background-moon-img {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes neurology-4-background-moon-img {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.neurology-3-background-angles,
.neurology-4-background-angles,
.neurology-5-background-angles,
.neurology-6-background-angles {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
}

.neurology-3-background-angles-img,
.neurology-4-background-angles-img,
.neurology-5-background-angles-img,
.neurology-6-background-angles-img {
    position: absolute;
    /*top: 98px;*/
    max-width: 1300px;
    width: 100vw;
    height: 100%;
    flex-shrink: 0;
    mix-blend-mode: exclusion;
}

.neurology-3-info, .neurology-4-info, .neurology-5-info, .neurology-6-info {
    top: 40px;
}

.neurology-3-info, .neurology-4-info, .neurology-5-info, .neurology-6-info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}


.neurology-3-info-text, .neurology-4-info-text, .neurology-5-info-text {
    color: #FFE6CD;
    font-family: 'Philosopher', sans-serif;
    font-size: 32px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.07px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 30px;
    text-align: center;
}

.neurology-3-buttons {
    position: absolute;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.neurology-3-buttons-men-and-women {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 320px;
    /*height: auto;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 2px;

}

.neurology-3-button-men, .neurology-3-button-women {
    width: 150px;
    height: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #FBFCFF;
    background-color: transparent;
    box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.20);

}

.neurology-3-button-men-img, .neurology-3-button-women-img {
    width: 28px;
    height: 28px;
}

.neurology-3-button-men-text, .neurology-3-button-women-text {
    color: #FFF;
    font-family: Philosopher, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    margin-top: 8px;
    margin-bottom: 0;
}


.neurology-3-button {
    position: absolute;
    bottom: 60px;
    color: #7B6644;
    font-family: Philosopher, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
    width: 200px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 0;
    background: linear-gradient(143deg, #DEC3A8 14.83%, #FFEDDA 47.68%, #DEC3A8 78.55%);
    box-shadow: 0px 4px 0px 0px #AF9F8E;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*4 экран*/

.neurology-4-info-date-container {
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 10px;
    bottom: 30%;
}

.neurology-4-info-date-day-container,
.neurology-4-info-date-month-container,
.neurology-4-info-date-year-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.neurology-4-info-date-day,
.neurology-4-info-date-month {
    width: 74px;
    height: 38px;
    border-radius: 1000px;
    background: #FFF;
    border: 0 solid;
    box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.20);
    color: #3C4069;
    font-family: Philosopher, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
}

.neurology-4-info-date-year {
    width: 116px;
    height: 38px;
    border: 0 solid;
    border-radius: 1000px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.20);
    color: #3C4069;
    font-family: Philosopher, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.neurology-4-info-date-day-info {
    margin-top: 4px;
    color: #FFF;
    font-family: Philosopher, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.neurology-4-info-date-img {
    margin-left: 10px;
}

.neurology-4-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.neurology-4-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #7B6644;
    font-family: Philosopher, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
    width: 200px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 0;
    background: linear-gradient(143deg, #DEC3A8 14.83%, #FFEDDA 47.68%, #DEC3A8 78.55%);
    box-shadow: 0px 4px 0px 0px #AF9F8E;
    margin-bottom: 10px;
}

.neurology-4-info {
    height: 100vh;
}

/*5 экран*/

.neurology-5-background {
    background-image: url("../static/back_6.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    position: absolute;
}

.neurology-5-info-min-moons,
.neurology-1-info-min-moons {
    width: 64px;
    height: 54px;
}

.neurology-5-info {
    padding: 0 20px;
}

.neurology-5-info-text {
    margin-bottom: 24px;
}

.neurology-5-result-container {
    width: 100%;
    display: block;
    max-height: 335px;
    max-width: 335px;
    border-radius: 10px;
    overflow-y: scroll;
    border: 1px solid rgba(255, 255, 255, 0.40);
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(16.200000762939453px);
    /*margin-bottom: 24px;*/
    padding: 22px;
}

.neurology-5-button {
    position: absolute;
    bottom: 14vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #7B6644;
    font-family: Philosopher, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
    width: 200px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 0;
    background: linear-gradient(143deg, #DEC3A8 14.83%, #FFEDDA 47.68%, #DEC3A8 78.55%);
    box-shadow: 0px 4px 0px 0px #AF9F8E;
    margin-bottom: 10px;
}

.neurology-5-result-title {
    color: #FFF;
    font-family: Philosopher, sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 22px;
    margin-top: 0;
}

.neurology-5-result-1, .neurology-5-result-2 {
    color: #FFF;
    margin: 0;
    font-family: Philosopher, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.neurology-3-background-moon-img {
    animation: neurology-3-background-moon-img 20s linear infinite;
}

.neurology-5-background-moon-img {
    animation: neurology-5-background-moon-img 20s linear infinite;
}

@keyframes neurology-5-background-moon-img {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*6 экран*/

.neurology-6-background {
    background-image: url("../static/back_7.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.neurology-6-title {
    color: #FFE6CD;
    text-align: center;
    font-family: Philosopher, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
    text-transform: uppercase;
    margin: 20px 0;
}

.neurology-6-info-text {
    color: #FFE6CD;
    text-align: center;
    font-family: Philosopher, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
    text-transform: uppercase;
    margin: 0;
}

.neurology-6-input-container, .neurology-7-input-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

.neurology-6-input-and-text-container, .neurology-7-input-and-text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 36px;
}

.neurology-6-input, .neurology-7-input {
    width: 250px;
    border: 0 solid;
    height: 45px;
    border-radius: 1000px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.20);
    color: #3C4069;
    font-family: Philosopher, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.neurology-6-input {
    padding: 4px 40px;
}

.neurology-7-input {
    padding: 4px 20px;
}

.neurology-6-input:focus, .neurology-7-input:focus {
    border: none;
    outline: none;
}

.text-field__icon {
    position: relative;
}

.text-field__icon::before {
    content: '';
    color: #bdbdbd;
    position: absolute;
    display: flex;
    align-items: center;
    color: rgba(60, 64, 105, 0.23);
    top: 0;
    font-family: Philosopher, sans-serif;
    font-size: 26px;
    bottom: 0;
    left: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
}

.neurology-6-input-text, .neurology-7-input-text {
    color: #FFF;
    text-align: center;
    font-family: Philosopher, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-field__icon .text-field__input {
    padding-left: 2rem;
}

/* email значок */
.text-field__icon_email::before {
    content: '@';
}

.neurology-6-button {
    position: absolute;
    bottom: 60px;
    color: #7B6644;
    font-family: Philosopher, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
    width: 200px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 0;
    background: linear-gradient(143deg, #DEC3A8 14.83%, #FFEDDA 47.68%, #DEC3A8 78.55%);
    box-shadow: 0px 4px 0px 0px #AF9F8E;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.neurology-6-pay-button-container {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.neurology-6-pay-button {
    width: 250px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 0;
    background: linear-gradient(143deg, #DEC3A8 14.83%, #FFEDDA 47.68%, #DEC3A8 78.55%);
    box-shadow: 0px 4px 0px 0px #AF9F8E;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.neurology-6-pay-button-text, .neurology-7-pay-button-text {
    color: #7B6644;
    font-family: Philosopher, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
}

.neurology-6-pay-button-text {
    margin-right: 42px;
}

.neurology-6-pay-button-img {
    width: 24px;
    height: 24px;
    stroke-width: 0.533px;
    stroke: #71634C;
    margin-right: 10px;
}

/*7 экран*/

.neurology-7-background {
    background-image: url("../static/back_8.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.neurology-6-info-min-moons {
    width: 93px;
    height: 114px;
}

.neurology-7-input:valid {
    color: #3C4069;
    font-family: Philosopher, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.neurology-7-pay-button-img {
    width: 14px;
    height: 18px;
    stroke-width: 0.533px;
    stroke: #71634C;
    margin-right: 28px;
}

.neurology-7-pay-button-text {
    margin-right: 20px;
}

.neurology-7-pay-button {
    width: 250px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 0;
    background: linear-gradient(143deg, #DEC3A8 14.83%, #FFEDDA 47.68%, #DEC3A8 78.55%);
    box-shadow: 0px 4px 0px 0px #AF9F8E;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.neurology-7-pay-button:active {
    border-radius: 30px;
}

@media (min-height: 480px) and (max-height: 600px) {
    .neurology-5-result-container {
        max-height: 200px;
    }
}