* {
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /*overflow-y: scroll;*/
}

button:active {
    scale: 1.1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    max-height: 100vh;
}

body {
    background: linear-gradient(#060D1B, #20274A);
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
}

.neurology-1.open,
.neurology-2.open,
.neurology-3.open,
.neurology-4.open,
.neurology-5.open,
.neurology-6.open,
.neurology-7.open,
.neurology-8.open {
    background-image: url("../static/group-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: inline-block;
}

.neurology-1,
.neurology-2,
.neurology-3,
.neurology-4,
.neurology-5,
.neurology-6,
.neurology-7,
.neurology-8 {
    display: none;
}

.neurology-background {
    max-width: 1300px;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

/*.background-angles-1 {*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*}*/

.neurology-background-moon {
    position: absolute;
    width: 100vw;
    height: 100vh;

    flex-shrink: 0;
    /*bottom: 0;*/
    background: #8488B1;
    mix-blend-mode: color;
    filter: blur(38.849998474121094px);
}

.neurology-background-angles {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}


.neurology-background-angles-img {
    position: absolute;
    max-width: 1300px;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    mix-blend-mode: exclusion;
}

.neurology-1-info {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.neurology-1-info-min-moons {
}

.neurology-1-title {
    color: #FFE6CD;
    font-family: 'Philosopher', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.07px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 30px;
}

.neurology-1-title-before {
    color: #FFE6CD;
    font-family: 'Philosopher', sans-serif;
    font-size: 10px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.07px;
    text-transform: uppercase;
}

.neurology-background-moon-img {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

.button-and-info {
    position: absolute;
    bottom: 20px;
    /*bottom: 78px;*/
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.neurology-1-start-button {
    width: 250px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 0;
    background: linear-gradient(143deg, #DEC3A8 14.83%, #FFEDDA 47.68%, #DEC3A8 78.55%);
    box-shadow: 0px 4px 0px 0px #AF9F8E;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.neurology-1-start-button-text {
    color: #7B6644;
    font-family: Philosopher, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
    margin-right: 50px;
}

.neurology-1-start-info {
    width: 297px;
    height: 39px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
}

.neurology-1-start-button-img {
    width: 24px;
    height: 24px;
    stroke-width: 0.533px;
    stroke: #71634C;
    margin-right: 10px;
}

.circle-moon {
    position: relative;
    mix-blend-mode: lighten;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-moon-img {
    position: absolute;
    top: -66%;
    background: url(<path-to-image>) center/cover no-repeat;
    mix-blend-mode: lighten;
    width: 1570.109px; /* Замените это на фактическую ширину изображения */
    /*height: 625.636px; !* Замените это на фактическую высоту изображения *!*/
    flex-shrink: 0;
}


.circle-moon-img {
    animation: circle-moon-img 20s linear infinite;
}

@keyframes circle-moon-img {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*второй экран*/

.neurology-2-background {
    background-image: url("../static/tuman.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    /*height: 124vh;*/
    height: 100%;
    position: absolute;
    /*top: -98px;*/
}

.neurology-2-background-angles {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.neurology-2-background-angles-img {
    position: absolute;
    max-width: 1300px;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    mix-blend-mode: exclusion;
}

.neurology-2-background-moon {
    position: absolute;
    mix-blend-mode: lighten;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.neurology-2-background-moon-img {
    position: absolute;
    top: 60%;
    background: url(<path-to-image>) center/cover no-repeat;
    mix-blend-mode: lighten;
    width: 1112.109px; /* Замените это на фактическую ширину изображения */
    height: 625.636px; /* Замените это на фактическую высоту изображения */
    flex-shrink: 0;
}

.neurology-2-background-moon-img {
    animation: neurology-2-background-moon-img 20s linear infinite;
}

@keyframes neurology-2-background-moon-img {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.neurology-2-info {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.neurology-2-info-text {
    color: #FFE6CD;
    font-family: 'Philosopher', sans-serif;
    font-size: 32px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.07px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 30px;
    text-align: center;
}

.neurology-2-input-and-button {
    width: 100%;
    height: 100%;
    position: relative;
}

.neurology-2-input-and-button-container {
    position: absolute;
    width: 100%;
    bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.neurology-2-input {
    width: 212px;
    margin-bottom: 50px;
    background-color: transparent;
    border-radius: 0;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-color: #FDFDFF;
    padding: 10px;
    text-align: center;
}

.neurology-2-input::placeholder {
    color: #FDFDFF;
    font-family: Philosopher, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.44px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    text-align: center;
}

.neurology-2-input:focus {
    width: 212px;
    font-family: Philosopher, sans-serif;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.44px;
    font-size: 18px;
    color: #FDFDFF;
    outline: 0;
    padding: 10px 0;
    text-align: center;
}

.neurology-2-input:valid {
    width: 212px;
    font-family: Philosopher, sans-serif;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.44px;
    font-size: 18px;
    color: #FDFDFF;
    outline: 0;
    padding: 10px;
    text-align: center;
}

.neurology-2-button {
    color: #7B6644;
    font-family: Philosopher, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
    width: 200px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 0;
    background: linear-gradient(143deg, #DEC3A8 14.83%, #FFEDDA 47.68%, #DEC3A8 78.55%);
    box-shadow: 0px 4px 0px 0px #AF9F8E;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*3 экран*/

.neurology-3-background,
.neurology-2-background,
.neurology-4-background {
    background-image: url("../static/tuman.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    position: absolute;
}

.neurology-3-background-moon,
.neurology-4-background-moon,
.neurology-5-background-moon {
    position: relative;
    mix-blend-mode: lighten;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.neurology-3-background-moon-img,
.neurology-4-background-moon-img,
.neurology-5-background-moon-img {
    position: absolute;
    top: 40%;
    background: url(<path-to-image>) center/cover no-repeat;
    mix-blend-mode: lighten;
    width: 1112.109px; /* Замените это на фактическую ширину изображения */
    height: 625.636px; /* Замените это на фактическую высоту изображения */
    flex-shrink: 0;
}

.neurology-3-background-moon-img {
    animation: neurology-3-background-moon-img 20s linear infinite;
}

.neurology-4-background-moon-img {
    animation: neurology-4-background-moon-img 20s linear infinite;
}

@keyframes neurology-3-background-moon-img {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes neurology-4-background-moon-img {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.neurology-3-background-angles,
.neurology-4-background-angles,
.neurology-5-background-angles,
.neurology-6-background-angles {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.neurology-3-background-angles-img,
.neurology-4-background-angles-img,
.neurology-5-background-angles-img,
.neurology-6-background-angles-img {
    position: absolute;
    top: 98px;
    max-width: 1300px;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    mix-blend-mode: exclusion;
}

.neurology-3-info, .neurology-4-info, .neurology-5-info {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.neurology-3-info-text, .neurology-4-info-text, .neurology-5-info-text {
    color: #FFE6CD;
    font-family: 'Philosopher', sans-serif;
    font-size: 32px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.07px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 30px;
    text-align: center;
}

.neurology-3-buttons {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.neurology-3-buttons-men-and-women {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 320px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 2px;

}

.neurology-3-button-men, .neurology-3-button-women {
    width: 150px;
    height: 96px;
    border-radius: 10px;
    border: 1px solid #FBFCFF;
    background-color: transparent;
    box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.20);

}

.neurology-3-button-men-img, .neurology-3-button-women-img {
    width: 28px;
    height: 28px;
}

.neurology-3-button-men-text, .neurology-3-button-women-text {
    color: #FFF;
    font-family: Philosopher, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}


.neurology-3-button {
    position: absolute;
    bottom: 60px;
    color: #7B6644;
    font-family: Philosopher, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
    width: 200px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 0;
    background: linear-gradient(143deg, #DEC3A8 14.83%, #FFEDDA 47.68%, #DEC3A8 78.55%);
    box-shadow: 0px 4px 0px 0px #AF9F8E;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*4 экран*/

.neurology-4-info-date-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 10px;
    margin-top: 50px;
}

.neurology-4-info-date-day-container,
.neurology-4-info-date-month-container,
.neurology-4-info-date-year-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.neurology-4-info-date-day,
.neurology-4-info-date-month {
    width: 74px;
    height: 38px;
    border-radius: 1000px;
    background: #FFF;
    border: 0 solid;
    box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.20);
    color: #3C4069;
    font-family: Philosopher, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
}

.neurology-4-info-date-year {
    width: 116px;
    height: 38px;
    border: 0 solid;
    border-radius: 1000px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.20);
    color: #3C4069;
    font-family: Philosopher, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.neurology-4-info-date-day-info {
    margin-top: 4px;
    color: #FFF;
    font-family: Philosopher, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.neurology-4-info-date-img {
    margin-left: 10px;
}

.neurology-4-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.neurology-4-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #7B6644;
    font-family: Philosopher, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
    width: 200px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 0;
    background: linear-gradient(143deg, #DEC3A8 14.83%, #FFEDDA 47.68%, #DEC3A8 78.55%);
    box-shadow: 0px 4px 0px 0px #AF9F8E;
    margin-bottom: 10px;
}

.neurology-4-info {
    height: 100vh;
}

/*5 экран*/

.neurology-5-background {
    background-image: url("../static/back_6.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    /*height: 124vh;*/
    position: absolute;
    top: -98px;
}

.neurology-5-info-min-moons,
.neurology-1-info-min-moons {
    width: 64px;
    height: 54px;
}

.neurology-5-info {
    padding: 0 20px;
}

.neurology-5-info-text {
    margin-bottom: 24px;
}

.neurology-5-result-container {
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.40);
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(16.200000762939453px);
    margin-bottom: 24px;
    padding: 20px;
}

.neurology-5-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #7B6644;
    font-family: Philosopher, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
    width: 200px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 0;
    background: linear-gradient(143deg, #DEC3A8 14.83%, #FFEDDA 47.68%, #DEC3A8 78.55%);
    box-shadow: 0px 4px 0px 0px #AF9F8E;
    margin-bottom: 10px;
}

.neurology-5-result-title {
    color: #FFF;
    font-family: Philosopher, sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 10px;
}

.neurology-5-rezult-1, .neurology-5-rezult-2 {
    color: #FFF;
    font-family: Philosopher, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.neurology-3-background-moon-img {
    animation: neurology-3-background-moon-img 20s linear infinite;
}

.neurology-5-background-moon-img {
    animation: neurology-5-background-moon-img 20s linear infinite;
}

@keyframes neurology-5-background-moon-img {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*6 экран*/

.neurology-6-background {
    background-image: url("../static/back_7.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 124vh;
    position: absolute;
    top: -98px;
}